<% if names_found.empty? %>
  <h1>No users with <%= formatted_caller_number %></h1>
<% else %>
    <h1>Users with <%= formatted_caller_number %></h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <% names_found.each do |i| %>
          <tr>
            <td><a href="#"><%= i["name"] %></a></td>
            <td><%= i["email"] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% end %>