<% unless current_user %>
    <%= render 'sign_in' %>
<% else %>
    <div class="container">
      <div id="caller-information">
      
        <h1>Hello, <%= current_user.first_name %>!</h1>

      </div>
    </div>
<% end %>
