@import "bootstrap-sprockets";
@import "bootstrap";



/* Login Page */

.login-center {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    
}

/* layout */

header {
    height: 75px;
    background-color: #6457A6;
        img {
            height: 75px;
        }

        a {
            float: right;
            margin: 20px;
            font-size: 1.5em;
            color: #fff;
            transition: 0.5s;
            text-decoration: none;
        }
        a:hover {
            background-color: #fff;
            color: #6457A6;
            text-decoration: none;
        }
}

body {
    padding-top: 80px;
}

footer {
    height: 75px;
    background-color: #6457A6;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}