<% if current_user%>
      <header class="navbar navbar-fixed-top">
        <nav>
          <%= image_tag("superherowhitelogo.png", class: "img-fluid")%>
          <%= link_to "Logout", destroy_user_session_path, method: :delete%>
        </nav>
      </header>
<% end%>